@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"] at CineTex</h1>

<p>
    At CineTex, we value and prioritize the privacy and security of our users. This Privacy Policy outlines how we collect, use, and protect your personal information when you visit our website or use our services. We are committed to ensuring that your privacy is protected and that your personal information is handled in accordance with applicable privacy laws and regulations.
</p>
<p>
    <h2> Information We Collect:</h2><br>
    When you visit our website or use our services, we may collect certain information, including but not limited to:<br>
    Personal information such as your name, email address, phone number, and billing details when you create an account or make a purchase.<br>
    Usage information, including your IP address, device information, browser type, and operating system, to enhance your browsing experience and improve our services.<br>
    Demographic information, such as your location and preferences, to provide personalized content and offers.<br>
</p>
<p>
    <h2>Use of Information:</h2><br>
    We may use the collected information for the following purposes: <br>
    To process and fulfill your ticket purchases, bookings, or other transactions.<br>
    To provide customer support and respond to your inquiries or requests.<br>
    To personalize your experience on our website and tailor our services to your preferences.<br>
    To improve our website, services, and offerings based on your feedback and usage patterns.<br>
    To send promotional emails, newsletters, or marketing communications about upcoming movies, special offers, or events. You have the option to unsubscribe from such communications at any time.<br>
</p>
<p>
    <h2>Information Sharing:</h2><br>
    We understand the importance of protecting your personal information and will not sell, distribute, or lease your information to third parties unless we have your permission or are required by law to do so. However, we may share your information with trusted third-party service providers who assist us in delivering our services, such as payment processors or email marketing platforms. We ensure that these third-party providers comply with strict privacy and security standards.
</p>
<p>
    <h2>Data Security:</h2><br>
    We take appropriate measures to safeguard your personal information from unauthorized access, disclosure, alteration, or destruction. We use industry-standard encryption, secure server infrastructure, and physical safeguards to protect your data. However, please note that no method of data transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
</p>
<p>
    <h2>Cookies and Tracking Technologies:</h2><br>
    We may use cookies and similar tracking technologies to enhance your browsing experience, analyze website traffic, and gather information about how you use our services. You can modify your browser settings to decline cookies or notify you when a cookie is being sent. However, disabling cookies may affect your ability to access certain features of our website.
</p>
<p>
    <h2>Links to Third-Party Websites:</h2><br>
    Our website may contain links to third-party websites for your convenience and reference. However, once you leave our site, we have no control over those external websites. Therefore, we cannot be responsible for the protection and privacy of any information you provide while visiting such sites. We encourage you to review the privacy policies of those third-party websites.
</p>
<p>
    <h2>Updates to Privacy Policy:</h2><br>
    We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes by posting the updated Privacy Policy on our website. We recommend reviewing this page periodically to stay informed about how we collect, use, and protect your personal information.
</p>
<p>
    If you have any questions or concerns regarding our Privacy Policy or the handling of your personal information, please contact us through the provided channels. Your privacy matters to us, and we are committed to addressing any inquiries promptly and transparently.
</p>
